* {
  color: #33cc33;
  background-color: #222222;
  font-family: sans-serif;
  font-size: 1rem;
}

h1 {
  color: #eeeeee;
  font-size: 2rem;
}

h2 {
  color: #eeeeee;
}

main, footer {
  max-width: 42%;
  margin: 1em auto;
  padding: 2em;
}

main p {
  margin-bottom: 2rem;
}

main a {
  text-decoration: none;
}
main a:hover {
  text-decoration: underline;
}

footer {
  padding-bottom: 0.6em;
}

footer a,
footer p,
footer li {
  font-size: 0.8rem;
  color: #999999;
  padding-bottom: 0.4rem;
}

code {
  color: #eeeeee;
  font-family: monospace;
  font-variant: small-caps;
}

code.helper-solution {
  color: #ffff99;
  display: inline-block;
  margin: 1em 0;
  padding: 0 0.4em;
  font-size: 1.2rem;
}

code.no-solution {
  color: #999999;
  font-style: italic;
  display: inline-block;
  margin: 1em 0;
  padding: 0 0.4em;
  font-size: 1.2rem
}

input {
  border: 0;
  background-color: #666666;
  color: #ffffff;
  display: inline-block;
  font-variant: small-caps;
  font-size: 2rem;
  font-weight: 600;
  margin-right: 0.2rem;
  padding: 0.2em;
  letter-spacing: 1.6rem;
  max-width: 80%;
}

label {
  visibility: hidden;
  display: none;
}

button {
  border: 0;
  cursor: pointer;
  display: inline-block;
  padding: 1.2rem 1.8rem 0.8rem 1.2rem;
  width: 3rem;
  height: 3rem;
  max-width: 10%;
}

button i.gg-search {
  color: #ffffff;
  font-weight: bold;
}

button i.gg-search:hover {
  color: #ffff66;
  background-color: #999999;
}

@media screen and (max-width: 800px) {
  footer,
  main {
    max-width: 66%;
  }
}

@media screen and (max-width: 400px) {
  footer,
  main {
    max-width: 87%;
  }
}

